
@{
    <link rel="icon" type="image/x-icon" href="./images/departmentlogo.png">
    ViewData["Title"] = "Create Eight Digit";
    Layout = "~/Areas/CompanyRegistraion/Views/Shared/_CompanyRegisLayout.cshtml";
}
<div class="page-body">

    <!-- Container-fluid starts-->
    <div class="container-fluid">
        <div class="page-header">
            <div class="row">
                <div class="col-lg-6">
                    <div class="page-header-left">
                        <h6>
                            <b>Master Entry >>Digit Code >>Create Eight Digit</b>

                        </h6>
                    </div>
                </div>
                <div class="col-lg-6">
                    <ol class="breadcrumb pull-right">
                        <li class="breadcrumb-item">
                            <a href="index.html"><i data-feather="home"></i></a>
                        </li>
                        <li class="breadcrumb-item active">Dashboard</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <!-- Container-fluid Ends-->
    <!-- Container-fluid starts-->
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Group Code</th>
                    <th scope="col">Product Code</th>
                    <th scope="col">ITC Code</th>

                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Alkali Chemicahl(1)</td>
                    <td> Caustik Soda(102)</td>
                    <td>28151100</td>

                </tr>
                <tr>

                    <td></td>
                    <td></td>
                    <td></td>
                    <td>28151101</td>

                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td> Multiple </td>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- Container-fluid Ends-->



</div>

