
@{
    <link rel="icon" type="image/x-icon" href="./images/departmentlogo.png">
    ViewData["Title"] = "List Of Product";
    Layout = "~/Areas/CompanyRegistraion/Views/Shared/_CompanyRegisLayout.cshtml";
}
<div class="page-body">

    <!-- Container-fluid starts-->
    <div class="container-fluid">
        <div class="page-header">
            <div class="row">
                <div class="col-lg-6">
                    <div class="page-header-left">
                        <h6>
                            <b> Product</b>

                        </h6>
                    </div>
                </div>
                <div class="col-lg-6">
                    <ol class="breadcrumb pull-right">
                        <li class="breadcrumb-item">
                            <a href="index.html"><i data-feather="home"></i></a>
                        </li>
                        <li class="breadcrumb-item active">Dashboard</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <!-- Container-fluid Ends-->
    <!-- Container-fluid starts-->
    <div class="table-responsive">
        <table class="table">

            <thead>
                <tr>
                    <th scope="col">Code</th>
                    <th scope="col">Group Name</th>
                    <th><button type="button" class="btn btn-danger btn-sm btn-delete mb-0 b-r-4">Submit</button></th>

                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">3</th>
                    <td>Polymers</td>
                    <td> <input type="checkbox"></td>


                </tr>

            </tbody>
        </table>
    </div>
    <!-- Container-fluid Ends-->



</div>


