
@{
    <link rel="icon" type="image/x-icon" 
    ="./images/departmentlogo.png">
    ViewData["Title"] = "about";
    Layout = "~/Areas/LandingPage/Views/Shared/_LandingPageLayout.cshtml";
}
<link href="~/LandinCss/css/bootstrap.min.css" rel="stylesheet">
<!-- template-style-->
<link href="~/LandinCss/css/style1.css" rel="stylesheet">

<div class="bt-content-wrap btClear section_Top">
    <div class="bt-content-holder">
        <div class="bt-content">
            <div class="bt_bb_wrapper">
                <section class="about-agency pad-tb block-1" style="padding-top:0px;">
                    <div class="container mx-auto">
                        <div>

                            <div>

                                <br />
                                <br />

                                <div class="common-heading text-l ">

                                <h3 class="text-left text-[#024828] mt-[2rem] mb-[1rem]">About ChemIndia</h3>
                                    
                                     <p class ="text-xl font-[popins] text-justify">
                                        •	ChemIndia is the one of major ambitious project of Department of Chemicals & Petro-Chemicals.
                                  </p>

                                    <p class ="text-xl font-[popins] text-justify">
                                        •	The objective of the project is to collect, compile & analysis of real time data, received from the chemicals and Petro-Chemical industries.

                                    <p class ="text-xl font-[popins] text-justify">
                                        •	The requisite data shall be available on monthly/annual basis.


                                  </p>

                                    <p class ="text-xl font-[popins] text-justify">
                                        •	It will reduce the expenses, time, and administrative work involved with manual data gathering and storage.
                                  </p>

                                    <p class ="text-xl font-[popins] text-justify">
                                       •	 This platform includes GIS Dashboards, which allow users to deliver location-based insights using simple, interactive data visualisations on a single screen.
                                  </p>

                                    <p class ="text-xl font-[popins] text-justify">
                                        •	It will make real-time data collection easier, ensuring quick information availability for analysis.
                                  </p>
                                   <p class ="text-xl font-[popins] text-justify">
                                       • It's an outlet for the growing need to make research material and data easy to share and re-use for the industrial policy building.
                                    </p>
                                    <p class ="text-xl font-[popins] text-justify">
                                        • This platform allows the overall consolidation of data at one place covering pan India industries/units. 
                                    </p>
                                  <p class ="text-xl font-[popins] text-justify">
                                       • It’s an intuitive interface that makes it simple for businesses organisation to access and provide data.
                                    </p>
                                   
                                   
                                    <p class ="text-xl font-[popins]">
                                        • This makes it possible to analyse data on things like the substance(s)' hazardous classification, important exposure routes, environmental exposure, and more.
                                  </p>

                                    <p class ="text-xl font-[popins] text-justify">
                                       • It will improve data processing capabilities, incorporates contemporary tools including Artificial Intelligence, Machine Learning, and Big Data Analytics.
                                  </p>
                                    <p class ="text-xl font-[popins] text-justify">
                                      •  It offers a glimpse into the future and a mental map for potential plans based on the systematic reporting.
                                  </p>

                                   <h2 class="mt-4 p-2 text-2xl " style="color:#024828;">Benefits of ChemIndia</h2>

                                  <p class ="text-xl font-[popins] text-justify">
                                      • Assures a complete understanding of the performance and trends of the sector.
                                  </p>

                                 <p class ="text-xl font-[popins] text-justify">
                                      • Availability of information on geographical base.
                                  </p>

                                 <p class ="text-xl font-[popins] text-justify">
                                      • To support researcher to conduct research and analysis. 
                                  </p>

                                 <p class ="text-xl font-[popins] text-justify">
                                      •	Encourages quick decisions and quick responses based on current market insights. 
                                  </p>

                                 <p class ="text-xl font-[popins] text-justify">
                                      • Increases accuracy and efficiency in managing and interpreting data. 
                                  </p>

                                 <p class ="text-xl font-[popins] text-justify">
                                      • Makes use of cutting-edge technologies for data accumulating, analysis, and storage. 
                                  </p>

                                  <p class ="text-xl font-[popins] text-justify">
                                      • Facilitates informed decision-making at the national and regional levels by offering policymakers in the chemical industry useful data insights. 
                                  </p>

                                 <p class ="text-xl font-[popins] text-justify">
                                      • Promotes collaboration and partnerships throughout the ecosystem of the chemical sector.
                                  </p>

                                 <p class ="text-xl font-[popins] text-justify">
                                      • Offers easily accessible data for generating a range of reports, including forecasts for the future, analysis of consumer behaviour, market trends, etc.
                                  </p>

                                 <p class ="text-xl font-[popins] text-justify">
                                      • Allows for remote data monitoring, entry and analysis.
                                  </p>

                                 <p class ="text-xl font-[popins] text-justify">
                                      • Encourages knowledge generation and innovation in the Petro-Chemical and Chemicals industries.
                                  </p>
                                </div>

                            </div>
                        </div>
                    </div>
                     <button type="button" class="btn btn-dark" style="margin-left:29px" onclick="history.back()">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-arrow-narrow-left" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <path d="M5 12l14 0" />
                            <path d="M5 12l4 4" />
                            <path d="M5 12l4 -4" />
                        </svg>
                    </button>
                </section>

            </div>
        </div>

    </div>
</div>


