@{
    <link rel="icon" type="image/x-icon" href="./images/departmentlogo.png">
    ViewData["Title"] = "Analyticalstudy";
    Layout = "~/Areas/LandingPage/Views/Shared/_LandingPageLayout.cshtml";
}
<link href="~/LandinCss/css/bootstrap.min.css" rel="stylesheet">
<!-- template-style-->
<link href="~/LandinCss/css/style1.css" rel="stylesheet">


<div class="bt-content-wrap btClear section_Top mt-[3rem]">
    <div class="bt-content-holder ">
        <div class="bt-content">
            <div class="bt_bb_wrapper">
                <section class="about-agency pad-tb block-1" style="padding-top:0px;">
                    <div class="container mx-auto">
                        <br />
                        <br />
                        <section class=" border border-1 border-black">
                            <div class="container mx-auto">
                           
                                <div class="text-center justify-center p-4  ">
                                    <h1 class="text-black  text-3xl text-left">Analytics Study </h1>
                                    <p class="font-[popins] text-xl text-left mt-4 text-justify">
                                       <b>Descriptive Analytics:</b> The most common type of analytics, descriptive analytics, describes what has occurred using explanatory models like statistical regression or clustering algorithms. BI (business intelligence) reports on process performance like these are typically utilized when you want to know more about the present health of your systems. By examining past occurrences from many perspectives, these techniques can be utilized to learn about chemicals sector data (explain it), uncover hidden insights on various indicators into processes, and create new opportunities.
                                    </p>
                                    <p class="font-[popins] text-xl text-left mt-4 text-justify">
                                        <b>Predictive Analytics:</b> is a forecasting modelling method that examines recent and past data to create predictions about the future based on established patterns. Predictive analytics provides solutions to queries like "What is likely to happen?" and "How can we alter what occurs next time?" Users are able to respond to "what if" scenarios using this kind of analysis. In order to find issues before they even arise, chemicals firms can utilize predictive models for predictive analytics to understand how varying variables affect operational efficiency over time.
                                    </p>
                                  



                                </div>
                            </div>

                        </section>
                    </div>
                    <button type="button" class="btn btn-dark" style="margin-left:29px" onclick="history.back()">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-arrow-narrow-left" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <path d="M5 12l14 0" />
                            <path d="M5 12l4 4" />
                            <path d="M5 12l4 -4" />
                        </svg>
                    </button>
                </section>


            </div>
        </div>

    </div>
</div>




