
@{
    <link rel="icon" type="image/x-icon" href="./images/departmentlogo.png">
    ViewData["Title"] = "Disclaimer";
    Layout = "~/Areas/LandingPage/Views/Shared/_LandingPageLayout.cshtml";
}

<link href="~/LandinCss/css/bootstrap.min.css" rel="stylesheet">
    <!-- template-style-->
    <link href="~/LandinCss/css/style1.css" rel="stylesheet">

<div class="bt-content-wrap btClear section_Top">
    <div class="bt-content-holder">

        <div class="bt-content">
            <div class="bt_bb_wrapper">
                <section class="about-agency pad-tb block-1">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">

                                <div class="pvcpolcy">
                                    
                                     <h3 class="text-left text-[#024828]  mb-[1rem]">Disclaimer</h3>
                                    <p class="mb10 text-justify">
                                        <strong >ChemIndia - Chemicals Inventory of India</strong>
                                        Contents on this website is published and managed by DCPC for information purposes only.
                                        Information is being made available at this site purely as a measure of data collection for department purpose.
                                        While every effort has been made to ensure that the information hosted in this website is accurate and up-to-date.
                                        The DCPC  does not hold itself liable for any consequences, legal or otherwise,
                                        arising out of use of any such information.

                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>


