
@{
    <link rel="icon" type="image/x-icon" href="./images/departmentlogo.png">
    ViewData["Title"] = "dram";
    Layout = "~/Areas/LandingPage/Views/Shared/_LandingPageLayout.cshtml";
}

<br />
<br />
<div class="container mx-auto mt-36 p-2 ">
    
                <section class="about-agency pad-tb block-1">

                    <div class="container mx-auto">
                        <div class="mb-10 mt-10">

                            <div class=" px-4">
                                <div class="common-heading  ">
                                    <h2 class="text-2xl ml-20" style=" color: #024828;">
                                        (DRAM) Data Reporting , Analysis & Management
                                    </h2>
                                    <h4 class=" ml-20 " style="font-size:20px">


                                        Report Generation which will comprise of
                                    </h4>


                                         <p class="ml-20 text-xl font-[popins]  text-justify p-2">
                                        • Automatic acknowledgement to the responding unit
                                    </p>

                                        <p class="ml-20 text-xl font-[popins]  text-justify p-2">
                                       • Automatic generation of Non-response list on periodic basis.

                                    </p>

                                         <p class="ml-20 text-xl font-[popins]  text-justify p-2">  • Programmed Reminder to Non- responding units</p>


                                         <p class="ml-20 text-xl font-[popins]  text-justify p-2">  • Alert based on major difference in subsequent month production</p>

                                         <p class="ml-20 text-xl font-[popins]  text-justify p-2">  • Programmed Thanks letter to responding units</p>

                                         <p class="ml-20 text-xl font-[popins]  text-justify p-2">  • Automatic/Manual approval option for verification of Data</p>

                                         <p class="ml-20 text-xl font-[popins]  text-justify p-2">  • Warning/Red Singal for Data beyond specified ranges</p>

                                         <p class="ml-20 text-xl font-[popins]  text-justify p-2">
                                         • Generation of State wise, Group wise & Product Wise Directories of
                                        Chemicals and Petrochemicals
                                    </p>

                                         <p class="ml-20 text-xl font-[popins]  text-justify p-2">  • Monthly Production (Selection based on Company/ Product/ Group)</p>
                                         <p class="ml-20 text-xl font-[popins]  text-justify p-2">  • Total Production (Multiple years) (Selection based on Company/Product/Group)</p>

                                         <p class="ml-20 text-xl font-[popins]  text-justify p-2">  • Installed Capacity (Selection based on Year)</p>

                                         <p class="ml-20 text-xl font-[popins]  text-justify p-2"> • State wise report can be generated for all types of reports via GIS</p>

                                         <p class="ml-20 text-xl font-[popins]  text-justify p-2">  • Reports in Graphical/ Charts format capturing important trends</p>

                                </div>
                              
                              
                                
<div class=" ml-[42rem]   bt_bb_button  bt_bb_icon_position_left  bt_bb_size_normal bt_bb_width_inline bt_bb_shape_inherit bt_bb_target_self bt_bb_align_inherit"
                                                         style=" background: #024828; color : white ; border-radius: 20px;"
                                                         data-bt-override-class="{}">
                                                        <a href="/LandingPage/Home/Data"
                                                           target="_self" 
                                                          
                                                            <span class="bt_bb_button_text">Check Details</span>
                                                        </a>
                                                    </div> <br /> <br /> <br />

                            </div>
                        </div>
                    </div>
                </section>

                
         

                                          
</div>



