@model CPDMSEF.TRegistrationEF
@{
    <link rel="icon" type="image/x-icon" href="./images/departmentlogo.png">
    ViewData["Title"] = "ForgotPassword";
    Layout = "~/Areas/CompanyRegistraion/Views/Shared/_HCRLayout.cshtml";
}
@if (ViewBag.msg != null)
{
    <script>
        swal("", '@ViewBag.msg', "warning");

    </script>
    ViewBag.msg = null;
}
<div class="page-wrapper" style="max-width:  -webkit-fill-available;">
    <div class="authentication-box" style="min-width: 49vw ">
        <div class="container">
            <div class="row">
                <div class=" p-0 ">
                    <div class=" tab2-card ">
                        <div class="card-body">
                            <ul class="nav nav-tabs nav-material" id="top-tab" role="tablist">

                                <li class="nav-item">
                                    <a class="nav-link" id="contact-top-tab" data-bs-toggle="tab"
                                       href="#top-contact" role="tab" aria-controls="top-contact"
                                       aria-selected="false"><span class="icon-unlock me-2"></span>Forgot Password</a>
                                </li>
                            </ul>
                            <div role="tabpanel">
                                <form class="form-horizontal auth-form" method="post" asp-action="ForgotPassword">

                                    <div class="form-group">
                                        <input required="" name="UserId" type="text"
                                               class="form-control" placeholder="User ID"
                                               id="exampleInputEmail12">
                                    </div>


                                    <div class="form-group">
                                        <div>
                                            <div class="form-group">
                                                <input required="" id="password2" onkeyup="checkPass();" name="Password" type="password"
                                                       class="form-control" placeholder=" Password">
                                            </div>
                                            <div class="meter-text" id="meter-text">
                                                <span>Password strength : </span>
                                                <span class="meter-status" id="meter-status"></span> <br />
                                            </div>
                                            <div class="meter" id="meter">
                                                <div class="meter-bar" id="meter-bar"></div>
                                            </div>

                                            <div class="form-group">
                                                <input required="" id="confirm2" onkeyup="checkPass();" name="login[password]" type="password"
                                                       class="form-control" placeholder="Confirm Password">
                                            </div>
                                            <span id="confirm-message2" class="confirm-message"></span>

                                        </div>
                                    </div>
                                    <div>
                                    </div>
                                    <div class="form-button">
                                        <button class="btn btn-primary" id="btnSubmit" type="submit">Register</button>
                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/adminlayout/assets/js/registration-script.js"></script>
<script>
    function checkStrength(password) {
        let meterBar = $("#meter").find("#meter-bar");
        let meterStatus = $("#meter-text").find("#meter-status");
        let strength = 0;
        if (password.length < 6) {
            meterBar.css({
                "background": "#6B778D",
                "width": "10%"
            });
            meterStatus.css("color", "#6B778D");
            meterStatus.text("too short");
        }
        if (password.length > 7) strength += 1;
        if (password.match(/([a-z].*[A-Z])|([A-Z].*[a-z])/)) strength += 1
        if (password.match(/([a-zA-Z])/) && password.match(/([0-9])/)) strength += 1
        if (password.match(/([!,%,&,#,$,^,*,?,_,~])/)) strength += 1
        if (strength < 2) {
            meterBar.css({
                "background": "#ff0000",
                "width": "25%"
            });
            meterStatus.css("color", "#ff0000");
            meterStatus.text("weak");
        } else if (strength == 2) {
            meterBar.css({
                "background": "#00BCD4",
                "width": "75%"
            });
            meterStatus.css("color", "#00BCD4");
            meterStatus.text("good");
        } else {
            meterBar.css({
                "background": "#4CAF50",
                "width": "100%"
            });
            meterStatus.css("color", "#4CAF50");
            meterStatus.text("strong");
        }
    }

    $("#password2").on("keyup", function () {
        checkStrength($(this).val());
    });
</script>


<script type="text/javascript">
    function checkPass() {
        //Store the password field objects into variables ...
        var password = document.getElementById('password2');
        var confirm = document.getElementById('confirm2');
        //Store the Confirmation Message Object ...
        var message = document.getElementById('confirm-message2');
        //Set the colors we will be using ...
        var good_color = "#66cc66";
        var bad_color = "#ff6666";
        //Compare the values in the password field
        //and the confirmation field
        if (password.value == confirm.value) {
            //The passwords match.
            //Set the color to the good color and inform
            //the user that they have entered the correct password
            confirm.style.backgroundColor = good_color;
            message.style.color = good_color;
            message.innerHTML = "Passwords Match!"
        } else {
            //The passwords do not match.
            //Set the color to the bad color and
            //notify the user.
            confirm.style.backgroundColor = bad_color;
            message.style.color = bad_color;
            message.innerHTML = "Passwords Do Not Match!"
        }
    }
</script>
@*<script>

    $("#Error_chaptcha").hide();
    $("#btnSubmit").on("click", function () {
        var capt = $(".captcha").text();
        var finelchap = capt.replaceAll(" ", "");
        if ($("#Enter_chaptcha").val() == finelchap) {
            $("#Error_chaptcha").hide();
            return true;
        } else {
            $("#Error_chaptcha").show();
            return false;
        }
    })
</script>*@

