@{
    <link rel="icon" type="image/x-icon" href="./images/departmentlogo.png">
    ViewData["Title"] = "InterestingFacts";
    Layout = "~/Areas/LandingPage/Views/Shared/_LandingPageLayout.cshtml";
}
<link href="~/LandinCss/css/bootstrap.min.css" rel="stylesheet">
<!-- template-style-->
<link href="~/LandinCss/css/style1.css" rel="stylesheet">

<br/>
 <br />
 <br />
                    <div class="container mx-auto mt-[11rem]" >
                        <h3 class="text-left  text-[#024828]">Interesting Facts</h3>
                         <br />
                        <div>
                            <h4 class="text-2xl font-bold p-2 " style="color:#024828" ;>(I) Economics of the country</h4>
                        <div style=" text-align: start;">
                          <p class ="text-xl font-[popins] "id="demo"> 
                          1. India has exhibited an average 7% Gross Domestic Product (GDP) growth rate in the last 20 years despite major recessions and economic slowdowns. The Gross Domestic Product (GDP) is contracted by 5.8% in FY21 owing to the COVID-19 pandemic, followed by a bounce back with over 9.1% in FY22, surpassing the major economies in the world.
   	                    <a  class="text-blue-500" target="_blank" id="confirmClickActionElementId" href="https://data.worldbank.org/indicator/NY.GDP.MKTP.KD.ZG?end=2022&locations=IN&start=	2000&view=chart&year=2021">(https://data.worldbank.org/indicator/NY.GDP.MKTP.KD.ZG?end=2022&locations=IN&start=	2000&view=chart&year=2021) </a>
	                     <a class="text-blue-500" target="_blank" id="confirmClickActionElementId1" href="https://data.worldbank.org/indicator/NY.GDP.MKTP.KD.ZG?end=2022&locations=IN&start=	2000">(https://data.worldbank.org/indicator/NY.GDP.MKTP.KD.ZG?end=2022&locations=IN&start=	2000) </a> 

                          </p>
                        <br/>
                          <p class ="text-xl font-[popins] text-justify">
                          2 . India’s foreign direct investment (FDI) stood at USD 50 billion in FY20, having witnessed a Compound Annual Growth Rate (CAGR) of 5.74% since FY16. Cumulative FDI inflows since January 2000 till December 2022 amount to USD 625.953. Radical reforms such as Make in India, approval of 100% FDI through the automatic route and industrial delicensing have propelled the growth in FDI inflows.
                       <a class="text-blue-500" target="_blank" id="confirmClickActionElementId2" href="https://dpiit.gov.in/sites/default/files/Fdigraphs_13.pdf">  <br/>( https://dpiit.gov.in/sites/default/files/Fdigraphs_13.pdf </a>, <br /> <a class="text-blue-500" target="_blank" id="confirmClickActionElementId4" href="https://dpiit.gov.in/sites/default/files/Table_No_2_DEC_22.pdf">https://dpiit.gov.in/sites/default/files/Table_No_2_DEC_22.pdf) </a>
                          </p>

                        <br/>
                          <p class ="text-xl font-[popins] text-justify">
                          3.	Cumulative equity inflow (April, 2000-March, 2023) for CHEMICALS (OTHER THAN FERTILIZER) is $ 21.302 USD Bn.
                          <br />
                          <a class="text-blue-500" target="_blank" id="confirmClickActionElementId3" href = "https://dpiit.gov.in/publications/fdi-statistics"> (https://dpiit.gov.in/publications/fdi-statistics) </a>
                          
                     
                           <img src="~/Image/Table.png" class="ml-[-4rem]">

                          </p>
                          <br />
                           <h5 class="text-2xl font-bold p-2 " style="color:#024828" ;>(II) Status of Manufacturing Sector of India</h5>

                          <p class ="text-xl font-[popins] text-justify">
                          1.	The manufacturing sector employed over 160 million people, contributing to nearly 16% of the India’s gross value added (GVA) in FY19. The sector has witnessed a Compound Annual Growth Rate (CAGR) of approximately 5% in its GVA in the last five years (Source:- India Chem 21:- <a  class="text-blue-500" href="http://mospi.nic.in/"> http://mospi.nic.in/ </a> )and is among the priority sectors for the Government. It has seen major reforms and policy interventions over the last decade. The sector has tremendous potential and is expected to increase its contribution to around 25% of India’s Gross Domestic Product (GDP)
                          </p>
<br />
                          <p class ="text-xl font-[popins] text-justify">
                          2.	India is emerging as the next global manufacturing hub. This is recognized by leading government and private agencies worldwide: 
                          </p>
<br/>
                          <li class ="text-xl font-[popins]">
                          	The Global Investment Trend Monitor Report ranked India as the most preferred greenfield FDI destination in the world. 
                          </li>

                          <li class ="text-xl font-[popins]">
                          	India was ranked sixth among the top manufacturing countries by the United Nations Industrial Development Organization (UNIDO). 
                          </li>

                          <li class ="text-xl font-[popins]"> 
                          India was ranked among the top 10 FDI destinations in the world by the United Nations Conference on Trade and Development (UNCTAD).
                          </li>

                          <li class ="text-xl font-[popins]"> 
                          According to the World Economic Forum’s (WEF) Global Competitiveness Index, India is the most competitive economy in South Asia. <br/> (Source:- India Chem 21 at Page No.18)
                          </li>
<br/>
                          <p class ="text-xl font-[popins] text-justify">
                          3.	India’s manufacturing competence 2nd Largest steel producer, 3rd Largest producer of pharmaceuticals, 6th Largest for chemicals sales by value, 4th Largest automotive market by volume and 5th  Largest exporter of textiles.
                          </p>
<br/>
                          <p class ="text-xl font-[popins] text-justify">
                          4.	India is perceived as a competitive and high-quality manufacturing country in the international market. The rising competitiveness of its Manufacturing industry is reflected in the Global Manufacturing Competitiveness Index (GMCI) rankings, with India being projected to secure the fifth ranking on the index position by 2020, climbing up from the eleventh position in 2016. Manufacturing of chemicals and chemical products contributed to over 8.8% of the overall GVA of the manufacturing sector in FY19. <br /> (Source:- India Chem 21 at Page No.19) <br /> This has a significant importance in the overall manufacturing sector, since chemicals and chemical products find application in most industrial classification segments ranging from food and beverages, textiles, leather, metal extraction and processing, petroleum refining, pharmaceuticals, rubber, etc. Consequently, the manufacturing sector’s Index of Industrial Production (IIP) is closely related to the manufacturing of chemicals in the country. The IIP of the overall manufacturing and chemicals manufacturing segment has seen continuous increment in the last five years. <br /> (Source:- India Chem 21 at Page No.19: Ministry of Statistics and Programme Implementation )
                           </p>
<br/>
                           <h5 class="text-2xl font-bold p-2 " style="color:#024828" ;>(III) Status of Chemicals & Petro-Chemicals Sector</h5>
                      
                      <br />

                      <p class ="text-xl font-[popins] text-justify">
                      1.	India has one of the largest global chemical markets, and is ranked sixth in the world and fourth in Asia in terms of global sale of chemicals. <br/> [Source:- India Chem 21:- <a class="text-blue-500" target="_blank" id="confirmClickActionElementId5" href="https://cefic.org/our-industry/a-pillar-of-the-european-economy/facts-and-figures-of-the-european-chemical-industry/"> https://cefic.org/our-industry/a-pillar-of-the-european-economy/facts-and-figures-of-the-european-chemical-industry/ </a> (excludes pharmaceuticals)] 
                      </p>
<br />
                      <p class ="text-xl font-[popins] text-justify">
                      2.	India accounts for 2.5% of the world’s global chemical sales. <br /> [Source:- India Chem 21:- <a class="text-blue-500" target="_blank" id="confirmClickActionElementId6" href="https://cefic.org/our-industry/a-pillar-of-the-european-economy/facts-and-figures-of-the-european-chemical-industry/ "> https://cefic.org/our-industry/a-pillar-of-the-european-economy/facts-and-figures-of-the-european-chemical-industry/</a> (excludes pharmaceuticals)] 
                      </p>
<br />
                      <p class ="text-xl font-[popins] text-justify">
                      3.	Its imports increased at a Compound Annual Growth Rate (CAGR) of 5.4% between FY16 and FY20 with Petro-Chemicals intermediates accounting for a major share of over 30% in total imports. On the other hand, export of chemicals and chemical products grew at a Compound Annual Growth Rate (CAGR) of 7.2% between FY16 and FY20. Specialty chemicals account for a major share of more than 50% of chemical exports, dominated by agrochemicals, dyes and pigments, etc. <br /> (Source:- India Chem 21 <a class="text-blue-500" target="_blank" id="confirmClickActionElementId7" href="https://tradestat.commerce.gov.in/eidb/default.asp" > https://tradestat.commerce.gov.in/eidb/default.asp </a> ) 
                       </p>
<br />
                       <p class ="text-xl font-[popins] text-justify">
                       4.	The specialty chemicals segment has grown at an impressive rate of approximately 11.7% in terms of value in the last five years. (Source:- India Chem 21).
                        </p>
<br />
                        <p class ="text-xl font-[popins] text-justify">
                        5.	In addition to the industry’s historic growth trajectory, the Government has taken progressive steps, such as the economic stimulus package, tax and labour reforms, setting up of the National Infrastructure Pipeline (NIP) and various chemical industry specific policies and schemes, including its public procurement policy, mandatory BIS standards, skill development programmes and renewal of the PCPIR policy. The Indian chemical industry has tremendous potential and a positive outlook, and is set to achieve the USD 300 billion mark by FY25 and emerge as a global manufacturing hub. <br/>     (Source:- India Chem 21:- Quote and data source: <a class="text-blue-500" target="_blank" id="confirmClickActionElementId8" href="https://pib.gov.in/PressReleaseIframePage.aspx?PRID=1700280"> https://pib.gov.in/PressReleaseIframePage.aspx?PRID=1700280 </a> )
                        </p>
<br />
                        <p class ="text-xl font-[popins] text-justify">
                        6.	India is the most populated country in the world, per capita consumption of chemical products is 1/10th of the global average (Source:- India Chem 2022) and 1/3 per capita polymer consumption of global average.
                        </p>
<br />
                        <p class ="text-xl font-[popins] text-justify">
                        7.	The chemical industry contributed around 8.8% of India’s manufacturing GVA and 1.4% of its national GVA in FY 2021-22. The chemical industry contributed around 8.8% of India’s manufacturing GVA and 1.4% of its national GVA in FY19.
                         (Source:- India Chem 2021:-  Ministry of Statistics and Programme Implementation (analysis at current prices for FY19), Department for Promotion of Industry and Internal Trade, Ministry of Commerce and Industry, and PwC analysis ) . The chemical industry contributed around 7.08% of India’s manufacturing GVA and 1.21% of its national GVA in 2019-20. (Source:- IFC 2022)
                        </p>
<br />
                        <p class ="text-xl font-[popins] text-justify">
                        8.	The Indian chemical industry contributed 2.1% of total FDI equity inflows and 11.3% of India’s exports. (Source:- India Chem 2021:-  Ministry of Statistics and Programme Implementation (analysis at current prices for FY19), Department for Promotion of Industry and Internal Trade, Ministry of Commerce and Industry, and PwC analysis)
                        </p>
<br />
                        <p class ="text-xl font-[popins] text-justify">
                        9.	India’s chemical industry was estimated to be worth USD 212 billion in FY 2022-23 and has a significant potential to reach USD 300 billion by FY 2029-30.
                        </p>
<br />
                        <p class ="text-xl font-[popins] text-justify">
                        10.	More than 1,00,000 chemicals are marketed in the country and are consumed in diverse end-use sectors including textiles, automotive, agriculture packaging, pharmaceuticals, healthcare, construction and electrical and electronics.
                        </p>
<br />
                        <p class ="text-xl font-[popins] text-justify">
                        11.	The industry is expected to grow at a Compound Annual Growth Rate (CAGR) of 9.2% and reach up to USD 276 billion by FY25. (Source:- India Chem 2021)
                        </p>
<br />
                        <p class ="text-xl font-[popins] text-justify">
                        12.	The Indian chemical industry is fragmented with large, medium and small companies manufacturing major Petro-Chemicals, alkali chemicals, inorganic chemicals, organic chemicals, pesticides, dyes and pigments and other chemicals. (Source:- India Chem 21 at Page No.20)
                        </p>
                       </div>     
                        </div>
                    </div>
                    <button type="button" class="btn btn-dark" style="margin-left:29px" onclick="history.back()">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-arrow-narrow-left" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <path d="M5 12l14 0" />
                            <path d="M5 12l4 4" />
                            <path d="M5 12l4 -4" />
                        </svg>
                    </button>
                
<script>
   document
    .getElementById("confirmClickActionElementId")
    .addEventListener("click", function( e ){ 
        if( ! confirm("You are about to Proceed to an external Website") ){
            e.preventDefault(); 
        } else {
           
            alert('Click Ok to Proceed ');
        }
    });

    document
    .getElementById("confirmClickActionElementId1")
    .addEventListener("click", function( e ){ 
        if( ! confirm("You are about to Proceed to an external Website") ){
            e.preventDefault(); 
        } else {
           
            alert('Click Ok to Proceed ');
        }
    });

     document
    .getElementById("confirmClickActionElementId2")
    .addEventListener("click", function( e ){ 
        if( ! confirm("You are about to Proceed to an external Website") ){
            e.preventDefault(); 
        } else {
           
            alert('Click Ok to Proceed ');
        }
    });

     document
    .getElementById("confirmClickActionElementId3")
    .addEventListener("click", function( e ){ 
        if( ! confirm("You are about to Proceed to an external Website") ){
            e.preventDefault(); 
        } else {
           
            alert('Click Ok to Proceed ');
        }
    });

      document
    .getElementById("confirmClickActionElementId4")
    .addEventListener("click", function( e ){ 
        if( ! confirm("You are about to Proceed to an external Website") ){
            e.preventDefault(); 
        } else {
           
            alert('Click Ok to Proceed ');
        }
    });

     document
    .getElementById("confirmClickActionElementId5")
    .addEventListener("click", function( e ){ 
        if( ! confirm("You are about to Proceed to an external Website") ){
            e.preventDefault(); 
        } else {
           
            alert('Click Ok to Proceed ');
        }
    });
     document
    .getElementById("confirmClickActionElementId6")
    .addEventListener("click", function( e ){ 
        if( ! confirm("You are about to Proceed to an external Website") ){
            e.preventDefault(); 
        } else {
           
            alert('Click Ok to Proceed ');
        }
    });

     document
    .getElementById("confirmClickActionElementId7")
    .addEventListener("click", function( e ){ 
        if( ! confirm("You are about to Proceed to an external Website") ){
            e.preventDefault(); 
        } else {
           
            alert('Click Ok to Proceed ');
        }
    });
     document
    .getElementById("confirmClickActionElementId8")
    .addEventListener("click", function( e ){ 
        if( ! confirm("You are about to Proceed to an external Website") ){
            e.preventDefault(); 
        } else {
           
            alert('Click Ok to Proceed ');
        }
    });
</script>

