
@{
    <link rel="icon" type="image/x-icon" href="./images/departmentlogo.png">
    ViewData["Title"] = "PetroChemicals";
    Layout = "~/Areas/LandingPage/Views/Shared/_LandingPageLayout.cshtml";
}
<link href="~/LandinCss/css/bootstrap.min.css" rel="stylesheet">
<!-- template-style-->
<link href="~/LandinCss/css/style1.css" rel="stylesheet">

<div class="bt-content-wrap btClear section_Top">
    <div class="bt-content-holder">

        <div class="bt-content">
            <div class="bt_bb_wrapper">


                <section class="about-agency pad-tb block-1" style="padding-top:0px;">
                    <div class="container mx-auto">
                        <div>

                            <div>
                                <div class="common-heading text-l ">

                            <h3 class="text-left text-[#024828] mt-[4rem] mb-[1rem]">Petro-Chemicals</h3>
                                    <br />
                                    <div class="table-responsive">
                                        <table class="table" style="border-width: 1px; border-style: solid; border-color: black;">

                                            <thead style="border-width: 1px; border-style: solid; border-color: black;">

                                                <tr style="border-width: 1px; border-style: solid; border-color: black;">

                                                    <th scope="col" style="border-width: 2px; border-style: solid; border-color: black; background-color: #024828 !important;">GROUPS</th>
                                                    <th scope="col" style="border-width: 2px; border-style: solid; border-color: black; background-color: #024828 !important;">PRODUCTS</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>

                                                    <td style="border-width: 2px; border-style: solid; border-color: black;" class="text-xl text-bold">
                                                        1) Synthetic Fibres/
                                                        Yarn (10)

                                                    </td>
                                                    <td style="border:2px solid black!important;"><p class="text-xl font-[popins]">
                                                        Acrylic Fibre, Polyester Staple Fibrefill, Nylon Filament Yarn, Nylon Industrial
                                                        Yarn/Tyre Cord, Polyester Filament Yarn, Polyester Staple Fibre,
                                                        Polypropylene Filament Yarn, Polypropylene Staple Fibre, Polyster Industrial
                                                        Yarn and Elastomeric/Spandex Filament Yarn
                                                   </p></td>
                                                </tr>
                                                <tr>

                                                    <td style="border-width: 2px; border-style: solid; border-color: black;" class="text-xl text-bold">
                                                        2) Polymers (9)
                                                    </td>
                                                    <td style="border:2px solid black!important;">
                                                       <p class ="text-xl font-[popins] text-justify">
                                                        Low Density Polyethylene, High Density Polythylene, Polyestyrene,
                                                        Polypropylene (Inc. Co-Polymer), Expandable Polyestyrene, Poly Vinyl
                                                        Chloride, Linear Low Density Polythylene, Pvc Compound and Ultra H M W
                                                        Polyethylene
                                                        </p>
                                                    </td>
                                                </tr>
                                                <tr>

                                                    <td style="border-width: 2px; border-style: solid; border-color: black;" class="text-xl text-bold">
                                                        3) Synthetic Rubber
                                                        (6)

                                                    </td>
                                                    <td style="border:2px solid black!important;">
                                                       <p class ="text-xl font-[popins] text-justify">
                                                        Styrene Butadiene Rubber (SBR), Poly Butadiene Rubber (PBR), Ethyl
                                                        Propylene Dimers (EPDM), Ethyl Vinyl Acetate (EVA), Nitrile Butadiene
                                                        Rubber (NBR) and Butyl Rubber

                                                        </p>
                                                    </td>
                                                </tr>

                                                <tr>

                                                    <td style="border-width: 2px; border-style: solid; border-color: black;" class="text-xl text-bold">
                                                        4) Synthetic
                                                        Detergent
                                                        Intermediates (2)

                                                    </td>
                                                    <td style="border:2px solid black!important;">
                                                       <p class ="text-xl font-[popins] text-justify">
                                                        D.D.T., Malathion, Parathion (Methyl), Dimethoate, D.D.V.P., Quinalphos,
                                                        Monocrotophos, Phosphamidon, Phorate, Ethion, Endosulphan,
                                                        Fenvalerate, Cypermethrin, Anilophos, Acephate, Chlorpyriphos,
                                                        Phosalone, Metasystox, Abate, Fenthion, Triazophos, Lindane, Temephos,
                                                        Deltamethrin, Alphamethrin, Captan & Captafol, Ziram(Thio Barbamate),
                                                        Carbendzim(Bavistin), Calixin, Mancozab, Copper-Oxychloride, 2, 4-D,
                                                        Butachlor, Isoproturon, Basalin, Glyphosate, Paraquat, Diuron, Atrazin,
                                                        Fluchloralin, Zinc Phosphide, Aluminium Phosphide, Methyl Bromide,
                                                        Dicofol, Profenofos Technical, Pretilachlor Technical, Lambda Cyhalothrin,
                                                        Ethofumesate Technical, Thiamethoxam Technical, Pendimethalin,
                                                        Metribuzin, Hexaconazole, Metconazole, Permethrin Tech, Phenthoate,
                                                        Imidacaloprid Tech and Triclopyr Acid Tech
                                                        </p>
                                                    </td>
                                                </tr>

                                                <tr>

                                                    <td style="border-width: 2px; border-style: solid; border-color: black;" class="text-xl text-bold">
                                                        5) Performance
                                                        Plastics (7)

                                                    </td>
                                                    <td style="border:2px solid black!important;">
                                                       <p class ="text-xl font-[popins] text-justify">
                                                        Acrylonitrile Butadiene Styrene (ABS) Resin, Nylon-6, Polymethyl
                                                        Methacrylate (PMMA), Styrene Acrylonitrile (SAN), Nylon 6, 6, Polyester
                                                        Chips/PET Chips and Polytetrafluoroethylene (PTFE)

                                                        </p>
                                                    </td>
                                                </tr>

                                                <tr>

                                                    <td style="border-width: 2px; border-style: solid; border-color: black;" class="text-xl text-bold">
                                                        1) Fibre
                                                        Intermediates (5)


                                                    </td>
                                                    <td style="border:2px solid black!important;">
                                                       <p class ="text-xl font-[popins] text-justify">
                                                        Acrylonitrile, Caprolactum, Dimethyl Terephthalate (DMT), Mono Ehylene
                                                        Glycol (MEG) and Purified Terephthalic Acid (PTA)


                                                   </p></td>
                                                </tr>
                                                <tr>

                                                    <td style="border-width: 2px; border-style: solid; border-color: black;" class="text-xl text-bold">
                                                        2) Building Blocks


                                                    </td>
                                                    <td style="border:2px solid black!important;">
                                                       <p class ="text-xl font-[popins] text-justify">
                                                        </p>
                                                    </td>
                                                </tr>
                                                <tr>

                                                    <td style="border-width: 2px; border-style: solid; border-color: black;" class="text-xl text-bold">
                                                        5) Performance
                                                        i. Olefins (3)

                                                    </td>
                                                    <td style ="border:2px solid black!important;">
                                                       <p class ="text-xl font-[popins] text-justify">
                                                        Butadiene, Ethylene and Propylene

                                                        </p>
                                                    </td>
                                                </tr>
                                                <tr>

                                                    <td style="border-width: 2px; border-style: solid; border-color: black;" class="text-xl text-bold">
                                                        ii. Aromatics (5)

                                                    </td>
                                                    <td style="border:2px solid black!important;">
                                                       <p class ="text-xl font-[popins] text-justify">
                                                        Benzene, Mixed Xylene, Orthoxylene, Toluene and Paraxylene

                                                        </p>
                                                    </td>
                                                </tr>

                                                <tr>

                                                    <td style="border-width: 2px; border-style: solid; border-color: black;" class="text-xl text-bold">
                                                        Other Petro-based
                                                        Chemicals (33)

                                                    </td>
                                                    <td style="border:2px solid black!important;">
                                                       <p class ="text-xl font-[popins] text-justify">
                                                        Diethylene Glycol, Diacetone Alcohol, Ethylene Dichloride, Butanol, Oxo
                                                        Alcohol, 2-Ethyl Hexanol, Vinyl Chloride Monomer, Epichlohydrine, Iso
                                                        Butylene, Metaxylene, Methyl Isobutyl Ketone, PBT, PET, PIB, Polycarbonate,
                                                        Propylene Oxide, Propylene Glycol, Polyvinyl Acetate Resin, Unsaturated
                                                        Polyster Resin, Methyl Methacrylate, Iso-Butanol, Ethyl Benzene, C4-
                                                        Raffinate, Cellulose Acetate Butyrate, Cellulose Acetate Sheet, Cellulose
                                                        Nitrate Sheet, Melamine Moulding Powder, Polyacetal Resin, Phthalic
                                                        Anhydride, Styrene, Vinyl Actate Monomer, Isopropanol, Polyol.

                                                        </p>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                    <button type="button" class="btn btn-dark" style="margin-left:23px" onclick="history.back()">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-arrow-narrow-left" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <path d="M5 12l14 0" />
                            <path d="M5 12l4 4" />
                            <path d="M5 12l4 -4" />
                        </svg>
                    </button>
                </section>


            </div>
        </div>

    </div>
</div>


