@{
    <link rel="icon" type="image/x-icon" href="./images/departmentlogo.png">
    ViewData["Title"] = "Appreciations";
    Layout = "~/Areas/LandingPage/Views/Shared/_LandingPageLayout.cshtml";
}
<link href="~/LandinCss/css/bootstrap.min.css" rel="stylesheet">
<link href="~/LandinCss/css/style1.css" rel="stylesheet">

<div class="bt-content-wrap btClear section_Top">
    <div class="bt-content-holder">
        <div >
            <div class="bt_bb_wrapper">
                <section class="about-agency pad-tb block-1" style="padding-top:0px;">
                    <div class="container mx-auto">
                        <div>

                            <div>
                                <br />
                                <br />
                                <h5 class="text-3xl font-bold p-2 underline text-green-500" style="color:#024828" ;>Sitemap</h5>

                                <div class="common-heading text-l flex ml-[1rem]" style="">
                                    <img src="~/landincss/images/radio-button.png" style="width: 11px ;  height:11px; margin-top: 0.5rem;" />
                                    &nbsp;
                                    <a  class="underline text-black-500 text-xl font-[popins]">
                                        Home</a>
                                    
                                </div>
                             
                                     <div class="common-heading text-l flex ml-[3rem]">
                                    <img src="~/landincss/images/radio-button.png" style="width: 11px ;  height:11px; margin-top: 0.5rem;" />
                                    &nbsp;
                                    <a href="http://20.207.94.115:8080/LandingPage/Home/about" class="  text-xl font-[popins]">
                                        About</a>
                                    
                                </div>

                                 <div class="common-heading text-l flex ml-[3rem]">
                                    <img src="~/landincss/images/radio-button.png" style="width: 11px ;  height:11px; margin-top: 0.5rem;" />
                                    &nbsp;
                                    <a  class="underline  text-xl font-[popins]">
                                        Category</a>
                                    
                                </div>

                                 <div class="common-heading text-l flex ml-[4rem]">
                                    <img src="~/landincss/images/radio-button.png" style="width: 11px ;  height:11px; margin-top: 0.5rem;" />
                                    &nbsp;
                                    <a target="_blank" href="http://20.207.94.115:8080/LandingPage/Home/Chemicals" class=" text-green-500 text-xl font-[popins]">
                                        Chemicals</a>
                                    
                                </div>
                                <div class="common-heading text-l flex ml-[4rem]">
                                    <img src="~/landincss/images/radio-button.png" style="width: 11px ;  height:11px; margin-top: 0.5rem;" />
                                    &nbsp;
                                    <a target="_blank" href="http://20.207.94.115:8080/LandingPage/Home/PetroChemicals" class=" text-green-500 text-xl font-[popins]">
                                        Petro-Chemicals</a>
                                    
                                </div>
                                <div class="common-heading text-l flex ml-[3rem]">
                                    <img src="~/landincss/images/radio-button.png" style="width: 11px ;  height:11px; margin-top: 0.5rem;" />
                                    &nbsp;
                                    <a href="http://20.207.94.115:8080/LandingPage/Home/Team" class="  text-xl font-[popins]">
                                        Team</a>
                                    
                                </div>
                                 <div class="common-heading text-l flex ml-[3rem]">
                                    <img src="~/landincss/images/radio-button.png" style="width: 11px ;  height:11px; margin-top: 0.5rem;" />
                                    &nbsp;
                                    <a href="http://20.207.94.115:8080/LandingPage/Home/Dashboard" class="  text-xl font-[popins]">
                                        Dashboard</a>
                                    
                                </div>
                                  <div class="common-heading text-l flex ml-[3rem]">
                                    <img src="~/landincss/images/radio-button.png" style="width: 11px ;  height:11px; margin-top: 0.5rem;" />
                                    &nbsp;
                                    <a href="http://20.207.94.115:8080/LandingPage/Home/Data" class="  text-xl font-[popins]">
                                        Data</a>
                                    
                                </div>

                                <div class="common-heading text-l flex ml-[3rem]">
                                    <img src="~/landincss/images/radio-button.png" style="width: 11px ;  height:11px; margin-top: 0.5rem;" />
                                    &nbsp;
                                    <a  class="underline  text-xl font-[popins]">
                                        Support</a>
                                    
                                </div>
                                <div class="common-heading text-l flex ml-[4rem]">
                                    <img src="~/landincss/images/radio-button.png" style="width: 11px ;  height:11px; margin-top: 0.5rem;" />
                                    &nbsp;
                                    <a target="_blank" href="http://20.207.94.115:8080/LandingPage/Home/VIDEO" class=" text-green-500 text-xl font-[popins]">
                                        User Manuals Video</a>
                                    
                                </div>
                                 <div class="common-heading text-l flex ml-[4rem]">
                                    <img src="~/landincss/images/radio-button.png" style="width: 11px ;  height:11px; margin-top: 0.5rem;" />
                                    &nbsp;
                                    <a target="_blank" href="http://20.207.94.115:8080/LandingPage/Home/PDF" class=" text-green-500 text-xl font-[popins]">
                                       User Manual Pdf</a>
                                    
                                </div>

                                   <div class="common-heading text-l flex ml-[3rem]">
                                    <img src="~/landincss/images/radio-button.png" style="width: 11px ;  height:11px; margin-top: 0.5rem;" />
                                    &nbsp;
                                    <a href="http://20.207.94.115:8080/LandingPage/Home/Appreciations" class="  text-xl font-[popins]">
                                        Appreciations</a>
                                    
                                </div>
                                 <div class="common-heading text-l flex ml-[3rem]">
                                    <img src="~/landincss/images/radio-button.png" style="width: 11px ;  height:11px; margin-top: 0.5rem;" />
                                    &nbsp;
                                    <a href="http://20.207.94.115:8080/LandingPage/Home/InterestingFacts" class="  text-xl font-[popins]">
                                        Interesting Facts</a>
                                    
                                </div>
                                   <div class="common-heading text-l flex ml-[3rem]">
                                    <img src="~/landincss/images/radio-button.png" style="width: 11px ;  height:11px; margin-top: 0.5rem;" />
                                    &nbsp;
                                    <a href="http://20.207.94.115:8080/LandingPage/Home/Contact" class="  text-xl font-[popins]">
                                        Contact Us</a>
                                    
                                </div>

                                  </div>
                                   <div class="common-heading text-l flex ml-[3rem]">
                                    <img src="~/landincss/images/radio-button.png" style="width: 11px ;  height:11px; margin-top: 0.5rem;" />
                                    &nbsp;
                                    <a href="http://20.207.94.115:8080/LandingPage/Home/Analyticalstudy" class="  text-xl font-[popins]">
                                        Analyticals Study</a>
                                    
                                </div>

                                <div class="common-heading text-l flex ml-[3rem]">
                                    <img src="~/landincss/images/radio-button.png" style="width: 11px ;  height:11px; margin-top: 0.5rem;" />
                                    &nbsp;
                                    <a href="http://20.207.94.115:8080/LandingPage/Home/ChemicalsClassification" class="  text-xl font-[popins]">
                                        Chemicals Classification</a>
                                    
                                </div>

                              

                                 <div class="common-heading text-l flex ml-[3rem]">
                                    <img src="~/landincss/images/radio-button.png" style="width: 11px ;  height:11px; margin-top: 0.5rem;" />
                                    &nbsp;
                                    <a href="http://20.207.94.115:8080/LandingPage/Home/HazardousClassification" class="  text-xl font-[popins]">
                                        Hazardous Classification</a>
                                    
                                </div>

                                <div class="common-heading text-l flex ml-[3rem]">
                                    <img src="~/landincss/images/radio-button.png" style="width: 11px ;  height:11px; margin-top: 0.5rem;" />
                                    &nbsp;
                                    <a href="http://20.207.94.115:8080/LandingPage/Home/ManufacturingUnits" class="  text-xl font-[popins]">
                                        Manufacturing Units</a>
                                    
                                </div>

                                 <div class="common-heading text-l flex ml-[3rem]">
                                    <img src="~/landincss/images/radio-button.png" style="width: 11px ;  height:11px; margin-top: 0.5rem;" />
                                    &nbsp;
                                    <a href="http://20.207.94.115:8080/LandingPage/Home/dram" class="  text-xl font-[popins]">
                                        DRAM</a>
                                    
                                </div>
<br />
                                 
                               
              <br />

                                <div class="common-heading text-l flex ml-[3rem]">
                                    <img src="~/landincss/images/radio-button.png" style="width: 11px ;  height:11px; margin-top: 0.5rem;" />
                                    &nbsp;
                                    <a  class="underline  text-xl font-[popins]">
                                        Login</a>
                                    
                                </div>
     
                                 <div class="common-heading text-l flex ml-[4rem]">
                                    <img src="~/landincss/images/radio-button.png" style="width: 11px ;  height:11px; margin-top: 0.5rem;" />
                                    &nbsp;
                                    <a target="_blank" href="http://20.207.94.115:8080/LandingPage/Home/ForgotUserName" class=" text-green-500 text-xl font-[popins]">
                                        Forgot User Name</a>
                                    
                                </div>

                                 <div class="common-heading text-l flex ml-[4rem]">
                                    <img src="~/landincss/images/radio-button.png" style="width: 11px ;  height:11px; margin-top: 0.5rem;" />
                                    &nbsp;
                                    <a target="_blank" href="http://20.207.94.115:8080/LandingPage/Home/ForgotPasswordV1" class=" text-green-500 text-xl font-[popins]">
                                        Forgot Password</a>
                                    
                                </div>

                                 <div class="common-heading text-l flex ml-[4rem]">
                                    <img src="~/landincss/images/radio-button.png" style="width: 11px ;  height:11px; margin-top: 0.5rem;" />
                                    &nbsp;
                                    <a target="_blank" href="http://20.207.94.115:8080/CompanyRegistraion/CompanyRegistration/CompanyTRegistration" class=" text-green-500 text-xl font-[popins]">
                                        Company Registration</a>
                                    
                                </div>

                                 <div class="common-heading text-l flex ml-[4rem]">
                                    <img src="~/landincss/images/radio-button.png" style="width: 11px ;  height:11px; margin-top: 0.5rem;" />
                                    &nbsp;
                                    <a target="_blank" href="http://20.207.94.115:8080/UnitRegistration/UnitRegistration/UnitTRegistration" class=" text-green-500 text-xl font-[popins]">
                                        Unit Registration</a>
                                    
                                </div>
               
            <br/>

                                   <div class="common-heading text-l flex ml-[3rem]">
                                    <img src="~/landincss/images/radio-button.png" style="width: 11px ;  height:11px; margin-top: 0.5rem;" />
                                    &nbsp;
                                    <a  class="underline  text-xl font-[popins]">
                                        Footer Menu</a>
                                    
                                </div>

                                 <div class="common-heading text-l flex ml-[4rem]">
                                    <img src="~/landincss/images/radio-button.png" style="width: 11px ;  height:11px; margin-top: 0.5rem;" />
                                    &nbsp;
                                    <a target="_blank" href="http://20.207.94.115:8080/LandingPage/Home/Disclaimer" class=" text-green-500 text-xl font-[popins]">
                                        Disclaimer</a>
                                    
                                </div>

                                <div class="common-heading text-l flex ml-[4rem]">
                                    <img src="~/landincss/images/radio-button.png" style="width: 11px ;  height:11px; margin-top: 0.5rem;" />
                                    &nbsp;
                                    <a target="_blank" href="http://20.207.94.115:8080/LandingPage/Home/Privacy" class=" text-green-500 text-xl font-[popins]">
                                        Privacy Policy</a>
                                    
                                </div>

                                <div class="common-heading text-l flex ml-[4rem]">
                                    <img src="~/landincss/images/radio-button.png" style="width: 11px ;  height:11px; margin-top: 0.5rem;" />
                                    &nbsp;
                                    <a target="_blank" href="http://20.207.94.115:8080/LandingPage/Home/Websitepolicy" class=" text-green-500 text-xl font-[popins]">
                                        Website Policy</a>
                                    
                                </div>

                                <div class="common-heading text-l flex ml-[4rem]">
                                    <img src="~/landincss/images/radio-button.png" style="width: 11px ;  height:11px; margin-top: 0.5rem;" />
                                    &nbsp;
                                    <a target="_blank" href="http://20.207.94.115:8080/LandingPage/Home/TermsConditions" class=" text-green-500 text-xl font-[popins]">
                                        Terms & Conditions</a>
                                    
                                </div>

                                 <div class="common-heading text-l flex ml-[4rem]">
                                    <img src="~/landincss/images/radio-button.png" style="width: 11px ;  height:11px; margin-top: 0.5rem;" />
                                    &nbsp;
                                    <a target="_blank" href="http://20.207.94.115:8080/LandingPage/Home/Faq" class=" text-green-500 text-xl font-[popins]">
                                        FAQ</a>
                                    
                                </div>

                            </div>
                        </div>
                    </div>
                    <button type="button" class="btn btn-dark" style="margin-Left:300px" onclick="history.back()">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-arrow-narrow-left" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <path d="M5 12l14 0" />
                    <path d="M5 12l4 4" />
                    <path d="M5 12l4 -4" />
                </svg>
            </button>
                </section>

            </div>
        </div>

    </div>
</div>


<style>
a:hover {
  color: green;
}
</style>

  
