
@{
    <link rel="icon" type="image/x-icon" href="./images/departmentlogo.png">
    ViewData["Title"] = "Team";
    Layout = "~/Areas/LandingPage/Views/Shared/_LandingPageLayout.cshtml";
}
<link href="~/LandinCss/css/bootstrap.min.css" rel="stylesheet">
<!-- template-style-->
<link href="~/LandinCss/css/style1.css" rel="stylesheet">
<br />
<br />
<br />
<br />

<br />

<br />


<br/>
<br/>
<br />

     
                <section class="mt-16 container mx-auto ">
                     <h3 class="text-left text-[#024828] mt-[5rem] mb-[3rem]">Team</h3>
                    
                    <div class="container mx-auto">
                       
                        <div>

                            <div class="bg-gray-100">


                                <img src="~/LandinCss/images/Teams1.jpg">

                            </div>
                        </div>
                    </div>
                    <button type="button" class="btn btn-dark" style="margin-left:29px" onclick="history.back()">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-arrow-narrow-left" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <path d="M5 12l14 0" />
                            <path d="M5 12l4 4" />
                            <path d="M5 12l4 -4" />
                        </svg>
                    </button>
                </section>
           




