

@{
    <link rel="icon" type="image/x-icon" href="./images/departmentlogo.png">
    ViewData["Title"] = "TermsConditions";
    Layout = "~/Areas/LandingPage/Views/Shared/_LandingPageLayout.cshtml";
}
<link href="~/LandinCss/css/bootstrap.min.css" rel="stylesheet">

<link href="~/LandinCss/css/style1.css" rel="stylesheet">

<section class="about-agency pad-tb block-1" style="padding-top: 200px">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">

                <div class="pvcpolcy">

                <h3 class="text-left text-[#024828] mt-[2rem]  mb-[1rem]">Terms & Conditions</h3>

                   <p class ="text-xl font-[popins] text-justify">
                        <strong>ChemIndia - Chemicals Inventory of India</strong>
                        This website is developed and maintained by DCPC, Ministry of Chemicals and Fertilizers, Government of India.
                        </p>
                          <p class ="text-xl font-[popins] text-justify">
                        •	Though all efforts have been made to ensure the accuracy and correctness of the content on this website,
                            the same should not be construed as a statement of law or used for any legal purpose under Indian Laws.
                            Any dispute arising under these terms and conditions shall be subject to the jurisdiction of the courts of India.
                           </p>  
                            
                         <p class ="text-xl font-[popins] text-justify">
                        •	The information posted on this website could include hypertext links or pointers to information created and maintained
                            by non-Government / private organizations. DCPC is providing these links and pointers solely for your information and convenience.
                            When you select a link to an outside website, you are leaving the DCPC’s website and are subject to the privacy and security policies
                            of the owners/sponsors of the outside website.
                              </p>
                             <p class ="text-xl font-[popins] text-justify">
                        •	DCPC, Ministry of Chemicals and Fertilizers does not always guarantee the availability of such linked pages.
                        </p>
                       <p class ="text-xl font-[popins] text-justify">
                        •	Unauthorised use of any materials contained on this website may violate copyright laws, trademark laws, 
                            the laws of privacy and publicity, certain communications statutes and regulations and other applicable laws and regulations. 
                            You alone are responsible for your actions or the actions of any person using your user’s name and/or password. 
                            As such, you shall indemnify and hold DCPC and its officers, directors, employees, affiliates, agents, licensors, and 
                            business partners harmless from and against any and all loss, costs, damages, liabilities, and expenses (including attorneys' fees)
                            incurred in relation to, arising from, or for the purpose of avoiding, any claim or demand from a third 
                            party that your use of the web site or the use of the web site by any person using your user name and/
                            or password (including without limitation your participation in the posting areas) violates any applicable 
                            law or regulation, or the rights of any third party.
                            </p>
                           <p class ="text-xl font-[popins] text-justify">
                        •	DCPC reserves the right to terminate access to this web site at any time and without notice.
                            Further this limited license terminates automatically, without notice to you, if you breach any of these Terms.
                            Upon termination, you must immediately destroy any downloaded and printed materials.
                            </p>
                           <p class ="text-xl font-[popins] text-justify">
                        •	DCPC may change the terms and conditions and disclaimer set out above from time to time. By browsing this web site,
                            you are accepting that you are bound by the current terms and conditions and disclaimer and so you 
                            should check these each time you revisit the web site,
                            </p>
                           <p class ="text-xl font-[popins] text-justify">
                        •	DCPC may change the format and content of this web site at any time.
                        </p>
                       <p class ="text-xl font-[popins] text-justify">
                        •	DCPC may suspend the operation of this web site for support or maintenance work, in order to update the content or for any other reason.
                        </p>
                       <p class ="text-xl font-[popins] text-justify">
                        •	Personal details provided to DCPC through this web site will only be used in accordance with our privacy policy. Please read this carefully before going on. By providing your personal details to us you are consenting to its use in accordance with our privacy policy.
                        </p>
                       <p class ="text-xl font-[popins] text-justify">
                        •	DCPC reserves all other rights, not mentioned here as such.
                    </p>

                    <h4 class="mb10 text-left  font-bold text-black mt-2 p-2">Applicable Law and Jurisdiction</h4>
                   <p class ="text-xl font-[popins] text-justify">
                        These terms and conditions are governed by and to be interpreted in accordance with laws of India, 
                        without regard to the choice or conflicts of law provisions of any jurisdiction. 
                        In the event of any dispute arising in relation to these terms and conditions or any dispute arising 
                        in relation to the web site whether in contract or tort or otherwise, it will be of exclusive 
                        jurisdiction of the courts located Delhi, India for the resolution of all such disputes.
                    </p>

                     <h4 class="mb10 text-left  font-bold text-black mt-2 p-2">Legal Notice</h4>
                    

                     <p class ="text-xl font-[popins] text-justify">
                     Visitors To This Web Site Are Bound By The Following Terms And Conditions ("Terms") So Please Read These Carefully Before Continuing To Use This Site.
                      If You Do Not Agree With Any Of These Terms, Please Do Not Use This Site.
                     </p>
                     <h4 class="mb10 text-left  font-bold text-black mt-2 p-2"> Disclaimer of Warranties, Inaccuracies or Errors</h4>
                    <p class ="text-xl font-[popins] text-justify">
                         •	Although DCPC tries to ensure that all information and recommendations, whether in relation to the products,
                            services, offerings or otherwise (hereinafter "Information") provided as part of this website is correct at the 
                            time of inclusion on the website, DCPC does not guarantee the accuracy of the Information.
                            DCPC makes no representations or warranties as to the completeness or accuracy of Information.

                     </p>
                    <p class ="text-xl font-[popins] text-justify">
                         •	DCPC makes no commitment to update or correct any Information that appears on the Internet or on this web site.
                     </p>

                    <p class ="text-xl font-[popins] text-justify">
                         •Information is supplied upon the condition that the persons receiving the same will make their own determination as to its suitability for their purposes prior to use or in connection with the making of any decision. No Information at this website shall constitute an invitation to invest in DCPC or any affiliates.
                         Any use of this website or the Information is at your own risk. Neither DCPC and DCPC affiliates, nor their officers, employees or agents shall be liable for any loss, damage or expense arising out of any access to, use of, or DCPC upon, this website or the Information, or any website linked to this website.
                     </p>
                    <p class ="text-xl font-[popins] text-justify">
                         •	Nothing contained herein is to be construed as a recommendation to use any product, process, 
                            equipment, or formulation, in conflict with any patent, or otherwise and DCPC makes no representation or warranty, 
                            express or implied that, the use thereof will not infringe any patent, or otherwise.
                     </p>
                     
                     <h4 class="mb10 text-left font-bold text-black mt-2 p-2">Introduction</h4>
                    <p class ="text-xl font-[popins] text-justify">
                         The Department of Chemicals and Petrochemicals (DCPC) respects the privacy of individual/visitor and is committed to take reasonable precautions to protect information consisting of Personal information and `Sensitive Personal Data or Information’ 
                         (SPDI) (“Information”) of visitors of this website and comply with all legal, regulatory and/or contractual obligations related to privacy.  It has adopted the “Privacy by Default” principles in its approach to data privacy i.e., privacy of data and information is upheld first by default.
                     </p>
                    <p class ="text-xl font-[popins] text-justify">
                         This policy covers the processing, storage, and access to Information as required under lawful and/or contractual activities with DCPC or otherwise required in the normal course of business.
                         It describes DCPC’s policies and procedures on the collection, 
                         usage and disclosure of Information provided/received by natural persons and meets the requirements established under:
                     </p>
                    <p class ="text-xl font-[popins] text-justify">
                         • The Information Technology Act, 2000 – Section 43A;
                     </p>
                    <p class ="text-xl font-[popins] text-justify">
                         • The Information Technology (Reasonable Security Practices and Procedures and Sensitive Personal Information) Rules, 2011.
                     </p>
                      <h4 class="mb10 text-left  font-bold text-black mt-2 p-2">Collection of Information </h4>
                     <p class ="text-xl font-[popins] text-justify">
                          Only minimum Information required to meet the purposes mentioned in this policy shall be collected from the visitor(s).
                          Neither DCPC nor its representatives shall be responsible for the authenticity of such information provided by the visitor(s).
                          As a normal business practice, DCPC may collect Information in order to enable the secure online authentication, interaction, and transaction with natural persons.
                          This may include the installation of cookies and the collection of other session data.
                      </p>

                       <h4 class="mb10 text-left  font-bold text-black mt-2 p-2"> Retention, Processing, and storage of Information </h4>
                      <p class ="text-xl font-[popins] text-justify">
                         •	DCPC shall retain information for only as long as necessary to meet legal or regulatory requirements or for legitimate business purposes as mentioned in this policy.  
                       </p>

                      <p class ="text-xl font-[popins] text-justify">
                           • DCPC has implemented required security practices and standards in line with the global standards and have a comprehensive documented information security program and policy in place, which contains managerial,
                           technical, operational and physical security control measures that commensurate with the information assets being protected with DCPC’s nature of business. It is being reviewed periodically to keep pace with business, technology, and regulatory changes.
                       </p>
                     <h4 class="mb10 text-left  font-bold text-black mt-2 p-2">
                         Access, Correction of Information, and Withdrawal of Consent</h4>
                    <p class ="text-xl font-[popins] text-justify">
                         Any modifications / corrections required to the information can be carried out on the website. In the event, the visitor is unable to do so due to lack of functionality in DCPC’s 
                         website and / or the visitor wants to withdraw his / her consent to provide SPDI, he / she may contact the Grievance officer, as per this policy.
                     </p>
                      <h4 class="mb10 text-left font-bold text-black mt-2 p-2">Disclosure of Information</h4>
                     <p class ="text-xl font-[popins] text-justify">
                       DCPC shall not use or disclose Information for purposes other than as mentioned in this policy, except with the consent of visitor providing such Information or as required by law.
                       However, DCPC may be legally required to disclose the Information in the following cases:
                      </p>
                     <p class ="text-xl font-[popins] text-justify">
                          •	Where the disclosure is necessary for compliance of a legal obligation;
                      </p>
                     <p class ="text-xl font-[popins] text-justify">
                          •	Where mandated under the law by government agencies to disclose such Information.
                      </p>
                     <p class ="text-xl font-[popins] text-justify">
                          •	Where necessary, DCPC may disclose information to third parties during the normal course of business for the purposes mentioned in this policy. 
                          In such cases, DCPC will only share information related to data when DCPC is assured.
                      </p>
                </div>
            </div>
        </div>
    </div>
</section>


