
@{
    <link rel="icon" type="image/x-icon" href="./images/departmentlogo.png">
    ViewData["Title"] = "test";
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CPDMS_Portal-Landing_Page</title>
    <link rel="stylesheet" href="~/css1/style.css">
    <!-- Font Awesome CDN Link for Icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
        content="Bigdeal admin is super flexible, powerful, clean &amp; modern responsive bootstrap 4 admin template with unlimited possibilities.">
    <meta name="keywords"
        content="admin template, Bigdeal admin template, dashboard template, flat admin template, responsive admin template, web app">
    <meta name="author" content="pixelstrap">
    <link rel="icon" href="./Image/logo.svg" type="image/x-icon">
    <link rel="shortcut icon" href="./Image/logo.svg" type="image/x-icon">
    <title>CPDMS Registration Portal</title>
    <!-- Google font-->
    <link href="https://fonts.googleapis.com/css?family=Work+Sans:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Font Awesome-->
    <link rel="stylesheet" type="text/css" href="~/css1/font-awesome.css">

    <!-- Flag icon-->
    <link rel="stylesheet" type="text/css" href="~/css1/themify.css">

    <!-- slick icon-->
    <link rel="stylesheet" type="text/css" href="~/css1/slick.css">
    <link rel="stylesheet" type="text/css" href="~/css1/slick-theme.css">

    <!-- jsgrid css-->
    <link rel="stylesheet" type="text/css" href="~/css1/jsgrid.css">

    <!-- Bootstrap css-->
    <link rel="stylesheet" type="text/css" href="~/css1/bootstrap.css">

    <!-- App css-->
    <link rel="stylesheet" type="text/css" href="~/css1/admin.css">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">

    <!-- <script src="js/jquery.min.js"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js"
        integrity="sha512-pumBsjNRGGqkPzKHndZMaAG+bir374sORyzM3uulLV14lN5LyykqNk8eEeUlUkB3U0M4FApyaHraT65ihJhDpQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <style>
        #leftContainer {}

        #rightContainer {


            position: relative;
        }

        .close-right {
            background: url(../images/img/right-arrow.png) center no-repeat;
            background-size: 10px 10px;
            display: block;
            transform: rotate(180deg);
            position: absolute;
            right: -30px;
            padding: 10px;
            top: 0px;
            background-color: green;
            /* border-radius: 100%; */
            /* padding: 12px; */
            cursor: pointer;
            z-index: 9;

        }



        div#rightContainer {

            /* height: 100%; */

        }


        @@media only screen and (max-width: 767px) {
            #rightContainer {
                display: none;
            }

            #rowColumn {
                transform: none;
            }


        }

        #leftContainer {
            z-index: 99;
			
        }.card .card-body {
    padding:21px;
    background-color: transparent;
}
    </style>

</head>

<body>


    <section style="background-image: url('./Image/bg.jpg');
		no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;">
        <div class="page-wrapper mt-4">
            <div class="authentication-box">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6  " id="leftContainer" style="margin-left:19px;">

                            <div class="card ">
                                <div class="card-body">
                                    <div class="d-flex  ">

                                      
                                            <img src="./Image/logo1.png" style="height:3em;margin:1em" />
                                       
                                        <br />
                                        <div
                                            style="border-right: 1px solid  rgb(184, 175, 172) !important   ; margin-left: 1rem;height:4em;">
                                        </div>
                                        <a style="border-right: 1px solid  rgb(184, 175, 172) !important  ;height:4em;">
                                            <img src="~/Image/logo2.svg" style="height:2em;margin:1em" />
                                        </a>
                                        <a style="border-right: 1px solid  rgb(184, 175, 172) !important  ; height:4em;" >
                                            <img src="~/Image/logo3.svg" style="height:2em;margin:1em" />
                                        </a>
                                        <a>
                                            <img src="~/Image/logo4.png" style="height:2em;margin:1em" />
                                        </a>

                                    </div>

                                  



                                    <div style="background: linear-gradient(1deg, #0a9f49 0%, #FFB24D 98%);box-shadow: #30503a 0px 3px 9px 5px;">
                                        <div>
                                            <br />
                                            <center>
                                                <h4>CPDMS Portal</h4>
                                            </center>
                                            <center>
                                                <span style="color: white;">Chemicals & Petro-Chemicals<br /> Data
                                                    Management
                                                    System</span>
                                            </center>



                                            <div
                                                style="color: black; text-align: center; margin-top: .6rem; margin-bottom: 1rem;">
                                                You are logging in as</div>

                                            <div class="tab-content cntent cntent1">
                                                <div class="tab-pane fade show active" id="top-profile" role="tabpanel"
                                                    aria-labelledby="top-profile-tab">
                                                    <div role="tabpanel" class="frm frm1">
                                                        <form class="form-horizontal auth-form">


                                                           @* <select class="form-select"
                                                                style="height: 40px; border-radius: 23px;">
                                                                <option selected ">Select</option>
                                                                <option value=" 1">Department</option>
                                                                <option value="2">Company</option>
                                                                <option value="3">Unit</option>
                                                            </select>*@
                                                            <select class="form-select" style="height: 40px; border-radius: 23px;">
                                                                <option selected>Select</option>
                                                                <option value="1">Department </option>
                                                                <option value="2">Company</option>
                                                                <option value="3">Unit</option>
                                                            </select>
                                                            <br />

                                                            <div class="form-group">
                                                                <input name="login[username]" type="email"
                                                                       class="form-control" placeholder="User name"
                                                                       id="exampleInputEmail12">
                                                            </div>
                                                            <div class="form-group">
                                                                <div>

                                                                   
                                                                        <div class="form-group">
                                                                            <input id="input-password"
                                                                                   name="login[password]" type="password"
                                                                                   class="form-control"
                                                                                   placeholder=" Password">

                                                                        </div>

                                                                </div>




                                                                <div class="wrapper" style="margin-top: -1rem;">

                                                                    <div class="captcha-area">
                                                                        <div class="captcha-img">
                                                                            <img src="~/image/captcha-bg.png"
                                                                                 alt="Captch Background">
                                                                            <span class="captcha" id="captcha"></span>
                                                                            
                                                                        </div>


                                                                        <input type="button" class="reload-btn">
                                                                        <i class="fas fa-redo-alt " style="margin-left: -2rem;"
                                                                           id="refreshCaptcha"></i>
                                                                        </input>



                                                                    </div>
                                                                    <div class="form-group">
                                                                        <input required="" id="Enter_chaptcha"
                                                                               name="login[password]" type="password"
                                                                               class="form-control"
                                                                               placeholder="Enter Captcha">

                                                                        <span class="display-none" id="Error_chaptcha"
                                                                              style="color:red; display:none;">
                                                                            Invalid
                                                                            Captcha.
                                                                        </span>
                                                                    </div>
                                                                    <div class="status-text"></div>
                                                                </div>
                                                            </div>




                                                            <div class="form-terms"> 
                                                                <div
                                                                    class="custom-control custom-checkbox form-check mr-sm-2">

                                                                    <input class="form-check-input" type="checkbox"
                                                                        value="" id="customControlAutosizing1">

                                                                    <label class="custom-control-label form-check-label"
                                                                        for="customControlAutosizing1"><span>I consent
                                                                            To
                                                                            DCPC<a 
                                                                                style="color: white;font-size:0.9em"> Terms Of
                                                                                Use</a>
                                                                           </span></label>
                                                                </div>

                                                            </div>
                                                           <div> <a href="" class="pull-right"
                                                                            style="color: white; margin-top:1em;"> Forgot
                                                                            Password</a></div>

                                                            <div>
                                                                <div style="text-align: center;">
                                                                    <button class="btn btn-primary"  type="submit" >SignIn</button>

                                                                </div>

                                                                <div class="mt-2" style="text-align: center;">
                                                                    <h5>OR    Register As</h5>
                                                                </div>

                                                                <div class="mt-2 ">
                                                                 
                                                                </div>
                                                            </div>


                                                            <div class="d-flex" style="margin-left: 0rem;">

                                                                <button class="btn btn-primary"
                                                                    type="submit">Company</button>
                                                                &nbsp; &nbsp; &nbsp;
                                                                <button class="btn btn-primary"
                                                                    type="submit">Unit</button>
                                                            </div>

                                                        </form>
                                                    </div>
                                                    <br />
                                                    <div>
                                                        <a href="/LandingPage/Home/LandingPage">
                                                        <img src="https://chemicals.gov.in/themes/chem/images/logo.png"
                                                            style=" width: 20rem;" />
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>


                        <div class="col-md-6 " id="rightContainer" style="margin-left:-24px;">
                            <p class="close-right">>></p>

                            <div class="card">

                                <div class="card-body">

                                    <h4 class="card-text"
                                        style="text-align: justify; font-family:'Noto Serif'; font-size: 17px">
                                        CPDMS Portal abbreviated as Chemical Petro-Chemicals Data Management System is
                                        made
                                        in order to enhance
                                        the Data Management and Analysis of Chemical & Petro-Chemicals Units across the
                                        Nation facilitated by DCPC.
                                    </h4>
<br>
                                </div>



                                <center>
                                    <img src="./Image/sabkasath.jpg" style="width: 100%; " />
                                </center>
<br>

                                <div class="card" style="background-color: rgb(234 150 29);">
                                    <div class="card-body">
                                        <h3>Tips of the day</h3>
                                       <br>

                                        <h6 class="card-title">Keep changing your Password often and make them
                                            complex and not guessable</h6><br>
                                    </div>
                                </div>
<br>
                                <div class="card">
                                    <div class="card-body">


                                        <h6 class="card-title">Your Text </h6>
                                    </div>
                                </div>
  <center>
                                    <img src="./Image/bg2.jpg" style="width: 100%; " />
                                </center>

                              

                              
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </section>


    <script>
        $(document).ready(function () {

            let openBackPanel = true;

            $(".close-right").click(function () {
                if (openBackPanel) {
                    $("#leftContainer").animate({ "margin-left": `25%` }, "slow");
                    $("#rightContainer").animate({ "margin-left": '-49.8%' }, "slow");
                    openBackPanel = false
                    $(this).css("transform", "rotate(0deg)");
                }
                else {
                    $("#rightContainer").animate({ "margin-left": 0 }, "slow");
                    openBackPanel = true
                    $(this).css("transform", "rotate(180deg)");
                    $("#leftContainer").animate({ "margin-left": `0` }, "slow");
                }
            })
        })

    </script>

    <!-- latest jquery-->
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script src="~/assets/js/jquery-3.3.1.min.js"></script>

    <!-- Bootstrap js-->
    <script src="~/assets/js/popper.min.js"></script>
    <script src="~/assets/js/bootstrap.js"></script>

    <!-- feather icon js-->
    <script src="~/assets/js/icons/feather-icon/feather.min.js"></script>
    <script src="~/assets/js/icons/feather-icon/feather-icon.js"></script>

    <!-- Sidebar jquery-->
    <script src="~/assets/js/sidebar-menu.js"></script>
    <script src="~/assets/js/slick.js"></script>

    <!-- Jsgrid js-->
    <script src="~/assets/js/jsgrid/jsgrid.min.js"></script>
    <script src="~/assets/js/jsgrid/griddata-invoice.js"></script>
    <script src="`/assets/js/jsgrid/jsgrid-invoice.js"></script>

    <!-- lazyload js-->
    <script src="~/assets/js/lazysizes.min.js"></script>

    <!--right sidebar js-->
    <script src="`/assets/js/chat-menu.js"></script>

    <!--script admin-->
    <script src="~/assets/js/admin-script.js"></script>
    <script>
        $('.single-item').slick({
            arrows: false,
            dots: true
        }
        );
    </script>

    <script>
        $('.single-item').slick({
            arrows: false,
            dots: true
        }
        );
    </script>

    <script src="~/AdminLayout/assets/js/script.js"></script>

    <script>
        function checkStrength(password) {
            let meterBar = $("#meter").find("#meter-bar");
            let meterStatus = $("#meter-text").find("#meter-status");
            let strength = 0;
            if (password.length < 6) {
                meterBar.css({
                    "background": "#6B778D",
                    "width": "10%"
                });
                meterStatus.css("color", "#6B778D");
                meterStatus.text("too short");
            }
            if (password.length > 7) strength += 1;
            if (password.match(/([a-z].*[A-Z])|([A-Z].*[a-z])/)) strength += 1
            if (password.match(/([a-zA-Z])/) && password.match(/([0-9])/)) strength += 1
            if (password.match(/([!,%,&,@@,#,$,^,*,?,_,~])/)) strength += 1
            if (strength < 2) {
                meterBar.css({
                    "background": "#ff0000",
                    "width": "25%"
                });
                meterStatus.css("color", "#ff0000");
                meterStatus.text("weak");
            } else if (strength == 2) {
                meterBar.css({
                    "background": "#00BCD4",
                    "width": "75%"
                });
                meterStatus.css("color", "#00BCD4");
                meterStatus.text("good");
            } else {
                meterBar.css({
                    "background": "#4CAF50",
                    "width": "100%"
                });
                meterStatus.css("color", "#4CAF50");
                meterStatus.text("strong");
            }
        }

        $("#input-password").on("keyup", function () {
            checkStrength($(this).val());
        });
    </script>
    <script>
        /////////////////////// END captcha /////////////////
        $(document).ready(function () {
            $("#refreshCaptcha").click(function () {
                debugger
                $("#captcha").text('');
                getCaptcha();
            });
        });

        const captchas = document.querySelector(".captcha"),
            reloadBtns = document.querySelector(".reload-btn"),
            inputFields = document.querySelector(".input-area input"),
            checkBtns = document.querySelector(".check-btn"),
            statusTxts = document.querySelector(".status-text");

        //storing all captcha characters in array
        let allsCharacters = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O',
            'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z', 'a', 'b', 'c', 'd',
            'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's',
            't', 'u', 'v', 'w', 'x', 'y', 'z', 0, 1, 2, 3, 4, 5, 6, 7, 8, 9];
        function getCaptcha() {
            for (let i = 0; i < 6; i++) { //getting 6 random characters from the array
                let randomCharacter = allsCharacters[Math.floor(Math.random() * allsCharacters.length)];
                captchas.innerText += ` ${randomCharacter}`; //passing 6 random characters inside captcha innerText
            }
        }
        getCaptcha(); //calling getCaptcha when the page open
        //calling getCaptcha & removeContent on the reload btn click
        reloadBtns.addEventListener("click", () => {
            removeContent();
            getCaptcha();
        });

        checkBtns.addEventListener("click", e => {
            e.preventDefault(); //preventing button from it's default behaviour
            statusTxts.style.display = "block";
            //adding space after each character of user entered values because I've added spaces while generating captcha
            let inputVal = inputFields.value.split('').join(' ');
            if (inputVal == captchas.innerText) { //if captcha matched
                statusTxts.style.color = "#4db2ec";
                statusTxts.innerText = "Nice! You don't appear to be a robot.";
                setTimeout(() => { //calling removeContent & getCaptcha after 4 seconds
                    removeContent();
                    getCaptcha();
                }, 2000);
            } else {
                statusTxts.style.color = "#ff0000";
                statusTxts.innerText = "Captcha not matched. Please try again!";
            }
        });

        function removeContent() {
            inputFields.value = "";
            captchas.innerText = "";
            statusTxts.style.display = "none";
        }


                        /////////////////////// END captcha /////////////////
    </script>
</body>

</html>

