
@{
    <link rel="icon" type="image/x-icon" href="./images/departmentlogo.png">
    ViewData["Title"] = "Websitepolicy";
    Layout = "~/Areas/LandingPage/Views/Shared/_LandingPageLayout.cshtml";
}
<link href="~/LandinCss/css/bootstrap.min.css" rel="stylesheet">
    <!-- template-style-->
    <link href="~/LandinCss/css/style1.css" rel="stylesheet">

<section class="about-agency pad-tb block-1" style="padding-top: 200px">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">

                <div class="pvcpolcy">
           
                   <h3 class="text-left text-[#024828] mt-[2rem]  mb-[1rem]">Website Policy</h3>
                    <p class ="text-xl font-[popins] text-justify">
                        <strong>ChemIndia - Chemicals Inventory of India</strong>
                        DCPC does not object linking directly to the information that is hosted on this website and no prior permission is required for the same.
                        However the DCPC would like to inform about any links provided to the website so that it can be informed of any changes or updating therein.
                        Also it does not permit this website pages to be loaded into frames on others website.
                        The website’s pages must load into a newly opened browser window of the user.
                    </p>



                </div>
            </div>
        </div>
    </div>
</section>

