@{
    <link rel="icon" type="image/x-icon" href="./images/departmentlogo.png">
    ViewData["Title"] = "Websitepolicy";
    Layout = "~/Areas/LandingPage/Views/Shared/_LandingPageLayout.cshtml";
}
<link href="~/LandinCss/css/bootstrap.min.css" rel="stylesheet">
<!-- template-style-->
<link href="~/LandinCss/css/style1.css" rel="stylesheet">
<style>
    

       
</style>
<section class="about-agency pad-tb block-1" style="padding-top: 200px">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">

                <header class="site-header" id="header">
                    <h1 class="site-header__title" data-lead-id="site-header-title">THANK YOU!<i class="fa fa-check main-content__checkmark" id="checkmark" style="font-size: 5rem; color: green"></i></h1>
                </header>

                <div class="main-content">
                  
                    <p class="main-content__body" data-lead-id="main-content-body">Thank you for registering with ChemIndia. We are pleased to inform you that your registration has been successfully completed. </p>
                </div>
                <br/>
                <div class="btIconWidgetContent">
                    <a href="/LandingPage/Home/Login">
                        <button style="padding: 10px; background-color: #024828; color: #fff; width: 100px;">Login</button>
                    </a>
                </div>
                </div>
            </div>
        </div>
    
</section>

