@model CPDMSEF.AddProductCodeChemical

@{
    <link rel="icon" type="image/x-icon" href="./images/departmentlogo.png">
    ViewData["Title"] = "Yearly Petro Chemical Entry";
    Layout = "~/Areas/UnitRegistration/Views/Shared/_UnitRegisLayout.cshtml";

}





<meta name="viewport" content="width=device-width, initial-scale=1">

<style>
    * {
        box-sizing: border-box;
    }

    input[type=text],
    select,
    textarea {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
        resize: vertical;
    }

    label {
        display: inline-block;
        marginLeft: -2rem;
    }

    input[type=submit] {
        background-color: #04AA6D;
        color: white;
        padding: 12px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        float: right;
    }

        input[type=submit]:hover {
            background-color: #45a049;
        }

    .container {
        border-radius: 5px;
        background-color: #f2f2f2;
        padding: 20px;
    }

    .col-25 {
        float: left;
        width: 25%;
        margin-top: 6px;
        marginLeft: 1rem
    }

    .col-75 {
        float: left !important;
        width: 95% !important;
        margin-top: 6px !important;
    }

    .col-70 {
        float: left !important;
        width: 50% !important;
        margin-top: 6px !important;
    }

    /* Clear floats after the columns */
    .row:after {
        content: "";
        display: table;
        clear: both;
    }

    /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
    @@media screen and (max-width: 600px) {

        .col-75,
        .col-70 input[type=submit] {
            width: 100%;
            margin-top: 0;
        }

        .sell2 {
            margin-left: 0rem;
        }

        .sell4 {
            margin-left: 0rem;
        }
    }

    .sell3 {
        margin-left: -2rem;
    }

    .Cell{
        margin-left: -2rem;
    }

    input[type=text]:focus {
        border: 2px solid gray;
    }
</style>

<script>
    function decimalOnly() {
        var regex = /^\d*\.?\d*$/;
        var key = String.fromCharCode(!event.charCode ? event.which : event.charCode);
        if (!regex.test(key)) {
            event.preventDefault();
            return false;
        }
    }


  function Validate() {
      debugger
    var tbodyDownstream = $("#tblDownstream_Data tbody");
    if (tbodyDownstream.children().length != 0) {
        var Downstream = '';
        $('#tblDownstream_Data tbody tr').each(function (index) {
            debugger

                var Nameofimpurities = $(this).find('td:eq(1)').text();
                var CASNo = $(this).find('td:eq(2)').text();
                var Natureofimpurities = $(this).find('td:eq(3)').text();
                var Rangeofimpurities = $(this).find('td:eq(4)').text();

                Downstream +=  Nameofimpurities + '|' + CASNo + '|' + Natureofimpurities + '|' + Rangeofimpurities + '^';

            });
        if (Downstream != '') {
            $('#Downstream_Data').val(Downstream);
        }
    }

    return true;
  }
</script>

<br />
<br />


<div class="authentication-box">
    <div class="">
        <div class="page-header">
            <div class="">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="page-header-left">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <ol class="breadcrumb pull-right">
                            <li class="breadcrumb-item">
                                <a href="~/UnitRegistration/UnitRegistration/UnitDashboard"><i data-feather="home"></i></a>
                            </li>
                             <li class="breadcrumb-item active">Yearly</li>
                            <li class="breadcrumb-item active">Entry</li>
                            <li class="breadcrumb-item active">Yearly</li>
                            <li class="breadcrumb-item active">Petro-Chemicals</li>
                        </ol>
                    </div>
                </div>
                <div class="row card lg:w-[67rem] lg:ml-[14rem] ">
                    <div class=" p-0 ">
                        <div class=" tab2-card">
                            <div class="card-body">
                                <ul class="nav nav-tabs nav-material" id="top-tab" role="tablist">
                                    <li class="nav-item"> <a class="nav-link" id="contact-top-tab" data-bs-toggle="tab" href="#top-contact" role="tab" aria-controls="top-contact" aria-selected="false"><span class="icon-unlock me-2"></span><b>Petro-Chemicals</b></a> </li>
                                </ul>

                                @using (Html.BeginForm("Block2Petrochemical", "UnitRegistration", FormMethod.Post, new { AUTOCOMPLETE = "Off", id = "form1" }))
                                {
                                        <div class="row mb-4">
                                            <div class="col">
                                                <div class="form-outline ">
                                                    <label for="lname">
                                                        Product
                                                    </label>
                                                @Html.DropDownListFor(m => m.Chemical_Product_Code, ViewBag.ProductCodeChemical as IEnumerable<SelectListItem>, "--Select Product--", new { @class = "form-control", autofocus = "autofocus" })   
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="form-outline">
                                                    <div class="row">
                                                        <label for="lname">
                                                            Installed Capacity
                                                        </label>
                                                        <div class="col-75">
                                                            <input type="text" id="InstalledCapacity" name="InstalledCapacity" onkeypress="decimalOnly()" placeholder="Installed Capacity">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>


                                        <div class="row mb-4">
                                            <div class="col">
                                                <div class="form-outline">
                                                    <div class="row">
                                                        <label for="lname">
                                                            Sale Quantity
                                                        </label>
                                                        <div class="col-75 d-flex">

                                                            <input type="text" id="lname" name="CellQuantity" placeholder=" Sale Quantity" onkeypress="decimalOnly()">
                                                            @*<select id="PhysicalStateID" name="PhysicalStateID" class="physicalState" style="width: 31%">
                                                                <option value="">Select Unit</option>
                                                                <option value="Kg">Kg</option>
                                                                <option value="MT">MT</option>
                                                                <option value="MMBtu">MMBtu</option>
                                                            </select>*@



                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="form-outline">
                                                    <div class="row">
                                                        <label for="lname">
                                                            Gross Sale Value
                                                        </label>
                                                        <div class="col-75">
                                                            <input type="text" id="lname" name="GrossCellValue" placeholder="Gross Sale Value" onkeypress="decimalOnly()">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row mb-4">
                                            <div class="col">
                                                <div class="form-outline">
                                                    <div class="row">
                                                        <label for="lname">

                                                            Closing Stock
                                                        </label>
                                                        <div class="col-75">
                                                            <input type="text" id="lname" name="ClosingStock" placeholder="Closing Stock" onkeypress="decimalOnly()">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="form-outline">
                                                    <div class="row">
                                                        <label for="lname">
                                                            Opening Stock
                                                        </label>
                                                        <div class="col-75">
                                                            <input type="text" id="lname" name="OpeningStock" placeholder="Opening Stock" onkeypress="decimalOnly()">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>


                                        </div>


                                        <div class="table-responsive">
                                            <table id="Main_Constituents" class="table table-bordered Main_Constituents">
                                                <thead>
                                                    <tr>

                                                    <th colspan="10" style="background: #329466; color: white;text-align: center;">List main constituents of the substance/ mixture/article with 10% (w/w) or more concentration </th>


                                                     
                                                    </tr>
                                                    <tr>
                                                        <th>#SL.No.</th>
                                                        <th>IUPAC Name</th>
                                                        <th>Common Name</th>
                                                        <th>CAS No.</th>
                                                        <th>HS Code</th>
                                                        <th>Molecular Structure</th>
                                                        <th>Isomer</th>

                                                        <th>Physical State</th>
                                                        <th>View Image</th>

                                                    </tr>
                                                </thead>
                                                <tbody id="Main_Constituents1body">

                                                </tbody>
                                            </table>
                                        </div>

                                        <div class="table-responsive">
                                            <table id="Main_Constituents" class="table table-bordered Main_Constituents">
                                                <thead>
                                                    <tr>

                                                        <th colspan="11" style="background: #329466; color: white; text-align: center;">Classification and labelling information: (according to 9th revision of UN-GHS) </th>


                                                    </tr>
                                                    <tr>
                                                        <th>#SL.No</th>
                                                        <th>Hazard Classification</th>
                                                        <th>Resulting Hazard</th>
                                                          <th>Hazard Category</th>
                                                    <th>Hazard Sub Category</th>
                                                        <th>Specific Concentration Limits, where applicable</th>
                                                        <th>Main use category</th>
                                                        <th>Specification Industrial Professional</th>
                                                        <th>Route Exposure</th>
                                                        <th>Environmental Exposure</th>
                                                        <th>Pattern Exposure</th>

                                                    </tr>
                                                </thead>
                                                <tbody id="Main_Constituents2body">

                                                </tbody>
                                            </table>
                                        </div>


                                        <div class="form-group ">



                                            <button type="button" class="form-control "
                                                    style="background: #329466; color: white; ">
                                                <b>Details of all impurities contained in concentrations of greater than 0.1% (w/w) </b> &nbsp;

                                            </button>


                                        </div>

                                        <div class="table-responsive">
                                            <table id="Main_Constituents" class="table table-bordered Main_Constituents">

                                                <tbody>

                                                    <tr>

                                                        <th>Name of impurities </th>
                                                        <th>CAS No.</th>
                                                        <th>Nature of impurities including isomers and by-products</th>
                                                        <th>(%) Range of impurities</th>
                                                    </tr>
                                                    <tr>
                                                        <td><input type="text" class="Nameofimpurities" /></td>
                                                        <td><input type="text" class="CASNo" /></td>
                                                        <td><input type="text" class="Natureofimpurities" /></td>

                                                        <td>
                                                            <select id="ReactantsPhysicalStateID" name="ReactantsPhysicalStateID" class="Rangeofimpurities">
                                                                <option value="">Select</option>
                                                                <option value="≤60%">≤60%</option>
                                                                <option value="61-65%">61-65%</option>
                                                                <option value="66-70%">66-70%</option>
                                                                <option value="71-75%">71-75%</option>
                                                                <option value="76-80%">76-80%</option>
                                                                <option value="81-85%">81-85%</option>
                                                                <option value="86-90%">86-90%</option>
                                                                <option value="91-95%">91-95%</option>
                                                                <option value="96-100%">96-100%</option>
                                                            </select>
                                                        </td>



                                                        <td> <button type="button" onclick="AddRow()" class="btn btn-success"><i class="icon-plus-solid pr-1"></i><i class='fa fa-plus'></i></button></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        @Html.HiddenFor(model => model.tblDownstream_Data, new { id = "Downstream_Data" })
                                            <table id="tblDownstream_Data" class="table table-bordered tblDownstream_Data">
                                                <thead>
                                                    <tr>
                                                        <th>#SL</th>
                                                        <th>Name of impurities</th>
                                                        <th>CAS No.</th>
                                                        <th>Nature of impurities including isomers and by-products</th>
                                                        <th>(%) Range of impurities</th>
                                                        <th>Edit</th>
                                                        <th>Delete</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                </tbody>
                                            </table>
                                        </div>

                                        <br />
                                        <button type="submit" onclick="return Validate();" class="btn btn-primary btn-block mb-4" style="width : 10rem;     margin-left: 27rem; background: #329466 !important;">Submit</button>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="https://code.jquery.com/jquery-1.7.1.min.js"></script>
<script>

    $("#Chemical_Product_Code").change(function () {

        var Chemical_Product_Code = $("#Chemical_Product_Code").val();
        $.get('/UnitRegistration/UnitRegistration/BindIUPACHAZARD?ProductID='+Chemical_Product_Code+'&mode=2')
            .success(function (response) {
                var tableBody = $('#Main_Constituents1body');
                        tableBody.empty();
                var tableBody2 = $('#Main_Constituents2body');
                        tableBody2.empty();
                            $.each(response, function (index, detail) {
                            var row = $('<tr></tr>');
                            var row2 = $('<tr></tr>');

                            var srno = index + 1;
                            row.append($('<td></td>').text(srno));
                            row.append($('<td></td>').text(detail.c_IUPAC_Name));
                            row.append($('<td></td>').text(detail.c_Common_Name));
                            row.append($('<td></td>').text(detail.c_CAS_No));
                            row.append($('<td></td>').text(detail.hsCode));
                            row.append($('<td></td>').text(detail.c_Molecular_Structure));
                            row.append($('<td></td>').text(detail.c_Isomer));
                            row.append($('<td></td>').text(detail.physicalStateName));

                              row2.append($('<td></td>').text(srno));

                              row2.append($('<td></td>').text(detail.hazard_Classification_Name));
                              row2.append($('<td></td>').text(detail.resulting_Hazard_Name));
                    row2.append($('<td></td>').text(detail.hazardCategory));
                    row2.append($('<td></td>').text(detail.hazardSubCategory));
                              row2.append($('<td></td>').text(detail.specification_Industrial_Professional_Name));
                              row2.append($('<td></td>').text(detail.main_Use_Category_Name));

                              row2.append($('<td></td>').text(detail.significant_Route_Exposure_Name));
                              row2.append($('<td></td>').text(detail.environmental_Exposure_Name));
                              row2.append($('<td></td>').text(detail.pattern_Exposure_Name));
                              tableBody.append(row);
                             tableBody2.append(row2);

                        });

            })
    })

</script>

<script>
    function AddRow() {

        var cont = 1;
        $('#tblDownstream_Data tbody tr').each(function (index) {
            $(this).find('td:eq(0)').text(cont++);
        });
        var Nameofimpurities = $('.Nameofimpurities').val();
        var CASNo = $('.CASNo').val();
        var Natureofimpurities = $('.Natureofimpurities').val();
        var Rangeofimpurities = $('.Rangeofimpurities').val();

        // create new row with input values
        var editButton = '<button class="btn btn-success" style="background-color: blue;" onclick="EditRow1(this)"><i class="fa fa-edit"></i></button>';
        var deleteButton = '<button class="btn btn-danger btn-delete additional-class" onclick="DeleteRow1(this)"><i class="fa fa-trash-o"></i></button>';
        var newRow = $('<tr><td></td><td>' + Nameofimpurities + '</td><td>' + CASNo + '</td><td>' + Natureofimpurities + '</td><td>' + Rangeofimpurities + '</td><td>' + editButton + '</td><td>' + deleteButton + '</td></tr>');

        //var newRow = $('<tr><td>' + cont++ + '</td><td>' + NameUnit + '</td><td>' + designateduser + '</td><td>' + Location + '</td></tr>');
        // append new row to table
        $('#tblDownstream_Data tbody').append(newRow);
        UpdateSerialNumbers1();

        // clear input values
        $('.Nameofimpurities').val('');
        $('.CASNo').val('');
        $('.Natureofimpurities').val('');
        $('.Rangeofimpurities').val('');
        // });
    }
    //  });

    function EditRow1(row) {
        var currentRow = $(row).closest('tr');
        var cells = currentRow.find('td');

        var Nameofimpurities = cells.eq(1).text();
        var CASNo = cells.eq(2).text();
        var Natureofimpurities = cells.eq(3).text();
        var Rangeofimpurities = cells.eq(4).text();

        $('.Nameofimpurities').val(Nameofimpurities);
        $('.CASNo').val(CASNo);
        $('.Natureofimpurities').val(Natureofimpurities);
        $('.Rangeofimpurities').val(Rangeofimpurities);

        currentRow.remove();

        UpdateSerialNumbers1();
    }

    function DeleteRow1(row) {
        var currentRow = $(row).closest('tr');
        currentRow.remove();

        UpdateSerialNumbers1();
    }
    //  });
    function UpdateSerialNumbers1() {
        $('#tblDownstream_Data tbody tr').each(function (index) {
            $(this).find('td:first').text(index + 1);
        });
    }
</script>








